@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.action-btn {
  @apply h-8 w-8 rounded-full border-none text-lg font-thin cursor-pointer flex items-center transition-colors gap-2;
}

.action-btn-close {
  @apply text-2xl;
}

.action-btn,
.sort-btn {
  color: theme("colors.blue.800");
}

.action-btn:hover {
  background-color: theme("colors.gray.200");
  color: theme("colors.blue.900");
}

.dark .action-btn,
.dark .sort-btn {
  color: theme("colors.gray.200");
}

.dark .action-btn:hover {
  background-color: theme("colors.gray.500");
  color: theme("colors.gray.300");
}
