.scale-up {
  animation: scaleUp 0.7s cubic-bezier(0.36, 1.25, 0.5, 1) forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounce {
  animation: bounce 0.7s cubic-bezier(0.36, 1.25, 0.5, 1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-shake {
  animation: shake 0.7s cubic-bezier(0.36, 1.25, 0.5, 1);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
