@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: auto;
}

input[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
}
