@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.export-format-select {
  margin: 0 !important;
  display: inline-block;
  vertical-align: middle;
}
.export-format-select .font-bold {
  display: none !important;
}
.export-format-select .my-4 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.export-format-select select {
  width: 400px !important;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 0.95rem;
  display: inline-block;
  margin: 0;
}
