@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.modal {
  @apply rounded-xl shadow-2xl pt-0 px-2 pb-4 overflow-y-auto transition-all duration-300 ease-in-out;
  background: var(--color-surface);
}

.modal-show {
  @apply opacity-100 pointer-events-auto scale-100;
  animation: modalFadeIn 0.2s;
}

.modal-hide {
  @apply opacity-0 pointer-events-none scale-95;
}

.modal-closing {
  animation: modalFadeOut 0.2s forwards;
}

.modal-backdrop {
  pointer-events: auto;
}

.modal-backdrop-scrollable {
  pointer-events: none;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
