@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.toolbar-container {
  @apply fixed z-[101] flex flex-col items-end transition-transform transition-opacity duration-300;
}

/* UI visibility */

.toolbar-container-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.toolbar-container-hidden {
  opacity: 0;
  pointer-events: none;
}

.toolbar-container-hidden-ltr {
  transform: translateX(100%);
}

.toolbar-container-hidden-rtl {
  transform: translateX(-100%);
}

/* Zoom controls */

.toolbar-zoom-controls {
  @apply mb-3 transition-transform transition-opacity duration-300;
}

.toolbar-zoom-controls-hidden {
  @apply translate-y-10 opacity-0 pointer-events-none;
}

.toolbar-zoom-controls-visible {
  @apply translate-y-0 opacity-100 pointer-events-auto;
}

/* Mobile styles */

@media (orientation: portrait) {
  .toolbar-container {
    @apply fixed left-0 right-0 bottom-[60px] top-auto h-14 w-screen flex-row items-center justify-center;
    z-index: 10020;
  }

  .toolbar-zoom-controls {
    display: none;
  }
}
