@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.toolbar-container {
  @apply absolute right-0 md:right-8 bottom-8 z-[101] flex flex-col items-end transition-transform transition-opacity duration-300;
}

.toolbar-container-hidden {
  transform: translateX(400px);
  opacity: 0;
  pointer-events: none;
}

.toolbar-container-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Zoom controls */

.toolbar-zoom-controls {
  @apply transition-transform transition-opacity duration-300 mb-3;
}

.toolbar-zoom-controls-hidden {
  @apply opacity-0 pointer-events-none translate-y-10;
}

.toolbar-zoom-controls-visible {
  @apply opacity-100 pointer-events-auto translate-y-0;
}

/* Mobile styles */

@media (orientation: portrait) {
  .toolbar-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
    top: auto;
    width: 100vw;
    height: 56px;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    z-index: 10020;
  }

  .toolbar-zoom-controls {
    display: none;
  }
}
