@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.trips-table {
  @apply min-w-full text-gray-900 dark:bg-gray-800 dark:text-gray-100;
}

/* Header styles */

.trips-th {
  @apply sticky top-0 px-2 py-1 z-3 bg-gray-100 dark:bg-gray-900;
}

.trips-th-unsortable {
  @apply sticky text-left top-0 px-2 pb-7 z-3 bg-gray-100 dark:bg-gray-900;
}

.trips-filter-dropdown {
  @apply block w-full text-xs;
}

.trips-resize-handle {
  @apply absolute right-0 top-0 w-[6px] h-full cursor-col-resize z-[100] select-none bg-transparent;
}

/* Cell styles */

.trips-td {
  @apply px-2 py-2;
}

.trips-td-middle {
  @apply py-1;
}

/* Row styles */

.trips-row-even {
  @apply bg-white dark:bg-gray-900/40;
}

.trips-row-odd {
  @apply bg-gray-50 dark:bg-gray-900;
}

.trips-row-upcoming {
  @apply bg-yellow-50/60 dark:bg-yellow-300/60;
}

tbody.trips-group:hover tr {
  @apply bg-blue-100 dark:bg-blue-500/60;
}

.trips-country-list {
  @apply flex flex-wrap gap-2;
}

.trips-country-item {
  @apply inline-flex items-center gap-1 py-1 rounded;
}

.trips-country-name {
  @apply text-sm;
}

.status-hover {
  @apply group-hover:bg-blue-50/60 dark:group-hover:bg-blue-600/40 group-hover:text-inherit;
}

.trips-resize-handle {
  @apply absolute right-0 top-0 w-[6px] h-full cursor-col-resize z-[100] select-none bg-transparent opacity-0;
}

/* Trip actions */

.trips-actions-menu {
  @apply flex flex-col absolute right-0 mt-2 w-40 p-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded shadow-lg z-10;
}

.trips-actions-button {
  @apply flex items-center justify-start px-3 py-2 text-base text-left hover:bg-gray-100 dark:hover:bg-gray-600;
}

.trips-actions-delete {
  @apply text-red-600 dark:text-red-400;
}
