@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.trips-filter-dropdown {
  @apply block w-full text-xs;
}

/* Row styles */

tbody.trips-group:hover tr {
  @apply bg-blue-100 dark:bg-blue-900/60;
}

/* Trip actions */

.trips-actions-menu {
  @apply flex flex-col absolute right-0 mt-2 w-40 p-2 bg-white dark:bg-gray-900 rounded-lg shadow-lg z-10;
}

.trips-actions-button {
  @apply flex items-center justify-start px-3 py-2 text-base text-left hover:bg-gray-100 dark:hover:bg-gray-600;
}

.trips-actions-delete {
  @apply text-red-600 dark:text-red-400;
}
