@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.sidebar-container {
  @apply fixed top-0 left-0 h-screen z-[10000] bg-white dark:bg-gray-800 transition-all duration-200 px-1;
}

.sidebar-backdrop {
  @apply fixed inset-0 bg-black opacity-20 z-[9999];
}

.sidebar-title {
  @apply flex items-center gap-2;
}

.sidebar-header-action {
  @apply ml-2 p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-400;
}

.sidebar-nav {
  @apply flex flex-col gap-2 mt-4;
}

.sidebar-collapsed {
  @apply items-center ml-1;
}

.sidebar-link {
  @apply flex items-center gap-2 px-4 py-2 rounded text-xl font-semibold transition hover:bg-gray-100 dark:hover:bg-gray-500;
}

.sidebar-link-active {
  @apply bg-blue-100 dark:bg-gray-600;
}

.dark .sidebar-link-active {
  @apply bg-gray-600 text-gray-200;
}
