@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Toolbar button */

.toolbar-btn {
  @apply w-12 h-12 flex items-center justify-center p-0 text-lg;
  background: var(--color-action);
  color: var(--color-action-text);
}

.toolbar-btn:hover {
  color: var(--color-action-text-hover);
}

/* Toggle button */

.toolbar-btn-toggle {
  @apply flex px-2 items-center justify-center bg-transparent border-none transition-colors duration-200;
}

.toolbar-btn-toggle-active {
  @apply text-blue-800 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-600;
}

.toolbar-btn-toggle-inactive {
  @apply text-gray-400 bg-transparent;
}
