@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Toggle button */

.toolbar-btn-toggle {
  @apply flex px-2 items-center justify-center bg-transparent border-none transition-colors duration-200;
}

.toolbar-btn-toggle-active {
  @apply text-blue-800 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-600;
}

.toolbar-btn-toggle-inactive {
  @apply text-gray-400 bg-transparent;
}
