@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Select input */

.select-input {
  @apply w-full px-3 py-2 rounded border border-none mt-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-600 dark:text-gray-200 dark:focus:ring-blue-400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.select-input:hover {
  @apply bg-gray-200;
}

.select-input:focus {
  @apply bg-gray-200;
  outline: none;
  box-shadow: none;
}

.dark .select-input:hover {
  @apply bg-gray-500;
}

.dark .select-input:focus {
  @apply bg-gray-500;
}
