@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Fullscreen panel style for mobile devices */
.panel-mobile-fullscreen {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  width: "100vw";
  z-index: 50;
  height: "92vh";
}

/* Dashed ring utility for dragged panel items */
.ring-dashed {
  border: 2px dashed !important;
  border-color: theme("colors.gray.500") !important;
  border-radius: 0.5rem;
}
